body{
    width: 100%;
    height: 100%;
}
#map {
    width: 100%;
    height: 670px;
}

#capture {
    width: 100%;
    height: 100%;
    overflow: hidden;
    float: left;
    background-color: #ECECFB;
    border: thin solid #333;
    border-left: none;
}

.container{
    width: 90%;
    height: 100%;
    padding: 0 0 25px 0;
}

.navbar{
    width: 90%;
    margin: 0 auto;
}

.navbar-header{
    height: 50px;
}
